@import "tailwindcss";

:root {
  --clr-primary: #FAF9F6;
  --clr-secondary: #01C9AC;
  --clr-accent: #FF9F00;
  --clr-black: #242124;
  --clr-gray: #D3D3D3;
  --clr-slategray: #708090;
  --clr-footer: #6A7773;
  --ff-main: 'Noto Sans Thai', sans-serif;
  --ff-eng: 'Noto Sans Thai', sans-serif;
  
}

@layer base {
  body {
    font-family: var(--ff-main);
    background-color: var(--clr-primary)
  }
  footer {
    background-color: var(--clr-footer);
  }
}

.logo-text {
  font-family: var(--ff-eng);
  @apply text-2xl font-bold ml-1
}

.nav-menu {
  @apply text-base font-bold mx-4 text-[var(--clr-slategray)]

}

.footer-menu {
  @apply text-sm mb-4  text-[var(--clr-primary)]

}

.footer-text {
  @apply text-sm text-[var(--clr-gray)]

}


