@import "tailwindcss";

/* 
อย่าใช้ :root แต่ให้ใช้ @theme แบบด้านล่าง นี้แทน
ดูวิธีประกาศได้จาก https://tailwindcss.com/docs/theme#theme-variable-namespaces
*/

@theme {
    --color-primary: #faf9f6;
    --color-secondary: #01c9ac;
    --color-accent: #ff9f00;
    --color-black: #242124;
    --color-gray: #d3d3d3;
    --color-slategray: #708090;
    --color-footer: #6a7773;
    --font-main: "Noto Sans Thai", sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-primary);
}
footer {
    background-color: var(--color-footer);
}

@layer components {
    .logo-text {
        @apply ml-1 text-2xl font-bold font-main;
    }

    .nav-menu {
        @apply mx-4 text-base font-bold text-slategray transform transition-transform duration-600 hover:text-accent hover:-translate-y-2;
    }

    .footer-menu {
        @apply mb-4 text-sm text-primary transform transition-transform duration-600 hover:text-accent hover:-translate-y-1;
    }

    .footer-text {
        @apply text-sm text-gray;
    }

    .swiper {
        width: 100%;
        height: max-content;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

